body{
  background-color: #595959;
}

.slider{
  -webkit-appearance: none;
    height: 12px;
    border-radius: 0px;
    background: #8c8c8c;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: black;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: black;
    cursor: pointer;
}

#interface-container{
  background-color: #595959;
  margin: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#tone-effect-bar{
  display: flex;
  flex-direction: column;
  /* overflow: scroll; */
}

.tone-effect-control{
  width: 400px;
  height: 250px;
  border-radius: 10px;
  background-color: #d9d9d9;
  margin: 6px;
}

#mouse-mode-toggle-master-volume{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#mouse-mode-toggle-button{
  width: 90%;
}

.toggle-volume-element>button{
  height: 100%;
  width: 100%
}

#master-volume{
  height: 100%;
  width: 10%;
}
#master-volume-slider{
  width: 180px;
  transform: translateX(-70px) translateY(100px) rotate(-90deg);
}

#tone-controls{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tone-control{
  padding: 2%;
  height: 46%;
  width: 96%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#waveform-controls{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.waveform-button{
  border-style: solid;
  border-color: black;
  border-radius: 8px;
  width: 21%;
  margin: 4px;
  transition: 0.15s;
}
.selected{
  background-color: grey;
}

#filter-controls{
  padding: 2%;
  height: 30%;
  width: 96%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#filter-inputs{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filter-inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

#filter-select{
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#filter-select>select{
  background-color: #8c8c8c;
}
#filter-select>select:after{

}
#filter-select>select:focus{
  outline: none;
}

#filter-sliders{
  width: 66%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#filter-sliders>input{
  margin: auto;
  width: 225px;
}

.tone-label{
  text-align: center;
}

#effects-controls{
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.effect-control{
  padding: 0% 2% 0% 2%;
  margin: 0% 2% 0% 2%;
  height: 40%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.effect-label{
  text-align: center;
  font-size: 14pt;
}

.slider-label{
  text-align: center;
  display: block;
  font-size: 8pt;
}

.slider{
  width: 160px;
}

#mouse-control-container{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 6px;
  background-color: #d9d9d9;
  height: 500px;
  width: 700px;
}

#chromatic-control-field{
  height: 500px;
  width: 700px;
}
#circle-control-field{
  height: 400px;
  width: 400px;
  /* margin-top: 50px; */
  margin-bottom: 50px;
  margin-left: 150px;
  margin-right: 150px;
  position: relative;
  top: 2px;
  right: 50px;
}

.note-slice{
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  position: absolute;
  top: 50%; left: 50%;
  transition: background-color .25s, transform .5s;
}
.note-slice:hover{
  /* transform here will be overridden by following transforms, (or overwrite them, if this one follows after them.  hover element may need to be another element within note-slice) */
  /* transform: scale(1.1, 1.1); */
  background-color: black
}

.note-slice.position0{
  transform: translateY(-200px);
}
.note-slice.position1{
  transform: rotate(30deg) translateY(-200px) rotate(-30deg);
}
.note-slice.position2{
  transform: rotate(60deg) translateY(-200px) rotate(-60deg);
}
.note-slice.position3{
  transform: rotate(90deg) translateY(-200px) rotate(-90deg);
}
.note-slice.position4{
  transform: rotate(120deg) translateY(-200px) rotate(-120deg);
}
.note-slice.position5{
  transform: rotate(150deg) translateY(-200px) rotate(-150deg);
}
.note-slice.position6{
  transform: rotate(180deg) translateY(-200px) rotate(-180deg);
}
.note-slice.position7{
  transform: rotate(210deg) translateY(-200px) rotate(-210deg);
}
.note-slice.position8{
  transform: rotate(240deg) translateY(-200px) rotate(-240deg);
}
.note-slice.position9{
  transform: rotate(270deg) translateY(-200px) rotate(-270deg);
}
.note-slice.position10{
  transform: rotate(300deg) translateY(-200px) rotate(-300deg);
}
.note-slice.position11{
  transform: rotate(330deg) translateY(-200px) rotate(-330deg);
}
.note-slice.position0:hover{
  transform: translateY(-200px) scale(1.1);
}
.note-slice.position1:hover{
  transform: rotate(30deg) translateY(-200px) rotate(-30deg) scale(1.1);
}
.note-slice.position2:hover{
  transform: rotate(60deg) translateY(-200px) rotate(-60deg) scale(1.1);
}
.note-slice.position3:hover{
  transform: rotate(90deg) translateY(-200px) rotate(-90deg) scale(1.1);
}
.note-slice.position4:hover{
  transform: rotate(120deg) translateY(-200px) rotate(-120deg) scale(1.1);
}
.note-slice.position5:hover{
  transform: rotate(150deg) translateY(-200px) rotate(-150deg) scale(1.1);
}
.note-slice.position6:hover{
  transform: rotate(180deg) translateY(-200px) rotate(-180deg) scale(1.1);
}
.note-slice.position7:hover{
  transform: rotate(210deg) translateY(-200px) rotate(-210deg) scale(1.1);
}
.note-slice.position8:hover{
  transform: rotate(240deg) translateY(-200px) rotate(-240deg) scale(1.1);
}
.note-slice.position9:hover{
  transform: rotate(270deg) translateY(-200px) rotate(-270deg) scale(1.1);
}
.note-slice.position10:hover{
  transform: rotate(300deg) translateY(-200px) rotate(-300deg) scale(1.1);
}
.note-slice.position11:hover{
  transform: rotate(330deg) translateY(-200px) rotate(-330deg) scale(1.1);
}

.note-symbol{
  position: absolute;
  top: 50%; left: 50%;
}

#keyboard-view-frequency-display-container{
  background-color: #d9d9d9;
  border-radius: 10px;
  margin: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#keyboard-view{
  display: flex;
  flex-direction: column;
}

#frequency-note-display{

}

.keyboard-row{
  display: flex;
  flex-direction: row;
}

#row-two{
  margin-left: 14px;
}
#row-three{
  margin-left: 48px;
}
#space-bar{
  margin-left: 48px;
}
#space-bar>div{
  width: 226px;
}
/* need seperate grids for each keyboard row?  */
.key{
  height: 40px;
  width: 40px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}
.pressed{
  background-color: #808080;
}

#frequency-note-display{
  width: 350px;
}

canvas{
  margin: 25px;
}
